#calculator {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 360px;

    background-color: rgb(171, 199, 158);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 13px;
    border-radius: 25px;
}

#display {
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    font-size: 48px;
    text-align: end;
    padding: 10px;
    margin: 15px 6px;
}

.main {
    display: flex;
    flex-direction: row;
}

button {
    width: 75px;
    height: 65px;
    font-size: 25px;
    border: none;
    border-radius: 25px;
    margin: 4px;
}

.notops {
    display: flex;
    flex-direction: column;
}

#clear {
    background-color: blanchedalmond;
    width: 240px;
}

#clear:hover {
    background-color: rgb(233, 213, 183);
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

.number:hover {
    background-color: lightgrey;
}

#zero {
    width: 155px;
}

.operators {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.operators button {
    background-color: rgb(36, 92, 36);
    color: white;
}

.operators button:hover {
    background-color: rgb(31, 73, 31);
}